[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/ad321999
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ad321999
	label-Verified = -1..+1 group user/ad321999
	push = group user/ad321999
	read = group user/ad321999
	rebase = group user/ad321999
	removeReviewer = group user/ad321999
	submit = group user/ad321999
[access "refs/heads/*"]
	create = group user/ad321999
	push = +force group user/ad321999
	pushMerge = group user/ad321999
	read = group user/ad321999
[access "refs/tags/*"]
	push = group user/ad321999
	push = +force group user/ad321999
